body {
    min-height: 100vh;
}
/* SIDEBAR */
.sidebar {
    background-color: #f8f9fa;
    min-height: 100vh; 
    padding-top: 20px;
    overflow-y: auto;
}
  
.nav-link {
    color: #333; 
    margin: 5px 0;
    padding-left: 20px;
    border-left: 3px solid transparent;
    transition: all 0.3s;
}
  
.nav-link:hover,
.nav-link.active {
    color: #007bff;
    background-color: #e9ecef;
    border-left-color: #007bff; 
}
  

.fas {
    margin-right: 10px;
}

.top-bar {
    background-color: #f8f9fa; 
    border-bottom: 1px solid #e1e4e8; 
    padding: 8px 20px; 
}
.top-bar .search-bar {
    width: 200px;
}
.top-bar img {
    border-radius: 50%; 
    width: 32px;
    height: 32px;
}

main {
    flex-grow: 1;
}

.main-content {
    padding: 1rem;
}

.card {
    display: block;
}
  

@media (min-width: 768px) {
    .sidebar{
        width: 240px;
        /* flex: 0 0 240px; */
        position: fixed;
    }
    
    .card {
        display: block;
    }

    .row-cols-1 {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1;
        max-width: 100%;
    }

    .row-cols-1 .col {
        max-width: 33.3333%;
    }

    .main-content {
        margin-left: calc(3 * (100vw / 12));
    }

    .text-center {
        justify-content: space-between;
        align-items: center;
    }
}