body {
    min-height: 100vh;
}

.company {
    font-size: 19px;
    color: #A4A6B3;
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(2);
    gap: 10px;
}
/* SIDEBAR */
.sidebar {
    background-color: #f8f9fa;
    min-height: 100vh; 
    padding-top: 20px;
    overflow-y: auto;
}
  
.nav-link {
    color: white; 
    margin: 5px 0;
    padding-left: 20px;
    border-left: 3px solid transparent;
    transition: all 0.3s;
}
  
.nav-link:hover,
.nav-link.active {
    color: #DDE2FF;
    background-color: rgb(159, 162, 180, 0.08);
    border-left-color: #DDE2FF; 
}

.icon {
    width: 40px;
    text-align: center;
}



.fas {
    margin-right: 10px;
}

.top-bar {
    background-color: #f8f9fa; 
    border-bottom: 1px solid #e1e4e8; 
    padding: 8px 20px; 
}
.top-bar .search-bar {
    width: 200px;
}
.top-bar img {
    border-radius: 50%; 
    width: 32px;
    height: 32px;
}

main {
    flex-grow: 1;
}

.main-content {
    padding: 1rem;
}

.card {
    display: block;
    padding: 2rem 0 1rem 0;
    margin: 1rem;
    color: #9FA2B4;
    border: 2px solid #DFE0EB;
}

.card h2 {
    color: #252733;
}


.card:hover {
    border: 2px solid #3751FF;
    transition: 0.2s ease-in-out;
    color: #3751FF;
}


.card:hover h2{
    color: #3751FF;
    transition: 0.2s ease-in-out;
}

  

@media (min-width: 800px) {
    .sidebar{
        width: 240px;
        /* flex: 0 0 240px; */
        position: fixed;
    }
    
    .card {
        display: block;
    }

    .row-cols-1 {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1;
        max-width: 100%;
    }

    .row-cols-1 .col {
        max-width: 33.3333%;
    }

    .main-content {
        margin-left: calc(3 * (100vw / 12));
    }

    .text-center {
        justify-content: space-between;
        align-items: center;
    }
}